h1 {
    text-align: center;
}
div.certificate {
    display: inline-block;
}
section {
    display: table;
    float: left;
}

.sub {
    padding: 0 2em 0;
}

h4 {
    text-indent: 10%;
}

.block-divition {
    float: left;
}