body {
    background-color: #f5f5dc;
}
h1, h2, h3, h4 {
    font-family: Georgia, 'Times New Roman', Times, serif
}
h1 {
    text-align: center;
}
section.sub section {
    display: inline-table;
}

li {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a:link {
    color: #a52;
}
a:visited {
    color: #111;
}
